.navbar-lewagon {
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.191);
  border-bottom: 1px solid rgba($color: grey, $alpha: 0.6);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 32px;
}

.nav-item a {
  transition: all 250ms ease-in;
}

.nav-item a:hover {
  color: black;
}
